.text-arkon {
    color: #ffc107 !important;
}

.btn-arkon {
    background-color: #ffc107;
    color: white;
}

.btn-arkon:hover {
    background-color: #82ad36;
}


html,body{
  margin:0px;
  position: relative;
  height:100%;
}

#home .carousel-inner img {
    max-height: 90vh;
    object-fit: cover;
}

#carousel {
    position: relative;
}

#home .overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#home .overlay .container,
#home .overlay .row {
    height: 100%;
}

.icon-circle {
	background: #4582EC;
	display: inline-block;
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	border-radius: 50% !important;
	color: #fff;
	text-align: center;
	font-size: 1.75rem;
	padding: 0 !important;
	border-bottom: none !important;
}

#gallery {
  height: 80vh;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

#about img {
    max-width: 100%;
}

#contact {
    background-color: #343a40;
    color: white;
}

footer {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
  }

  footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
  }

  footer a:hover {
    color: #FA944B;
    text-decoration: none;
  }

  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }

  .footer-middle {
    padding-top: 2em;
    color: white;
  }

  /*SOCİAL İCONS*/

  /* footer social icons */

  footer ul {
    list-style: none;
  }

  ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
  }

  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }

  /* footer social icons */

  .social-network a.icoFacebook:hover {
    background-color: #3B5998;
  }

  .social-network a.icoLinkedin:hover {
    background-color: #007bb7;
  }

  .social-network a.icoTwitter:hover {
    background-color: rgba(29,161,242,1.00);
  }

  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i,
  .social-network a.icoTwitter:hover i {
    color: #fff;
  }

  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD;
  }

  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }

  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }

  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }

  .social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }

  .social-network a {
    background-color: #F9F9F9;
  }
